**/uq_benchmark_results/
**/ISIC_2018/
**/AMOS_2022/amos22
**/AMOS_2022/**.npz
**/runs/**/**.pt
**/runs/**/figs
**/models/
**/.venv/
**/__pycache__/
__pycache__/
*.pyc

__pycache__/
uq_benchmark_results/
benchmarks/medMNIST/Data/
